<div class="row" id="header">
	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"> 
		<h1>Hello, <br>My Name is Chippy</h1>
	</div>
</div>

<div class="mission row">
	<div id="mission" class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"> 
		<h2><strong>I like building internet things that make the world a better place</strong></h2>
	</div>
</div>

<div class="content row"> 
	<div id="portfolio" class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		<h3>
			Here is some of my work...
		</h3>
		<div class="row">
			<a target="_blank" href="http://referrio.com" style="color:white"><div class="col-lg-3 col-md-5 col-sm-5 col-sm-offset-1 project">
				<h4>Referrio.com</h4>
				<h5>Cleveland, OH</h5>
				<h5>Ruby | TypeForm.io</h5>
				<p><br><br>A web app for Referrio Inc. designed to simplify the reference writing process</p>
				<p><br><br>Current Status: Live<br>
				User Load: 65</p></a>
				</div></a>
			<a target="_blank" href="http://thecommongood.net" style="color:white"><div class="col-lg-3 col-md-5 col-sm-5 col-sm-offset-1 project">
				<h4>The Common Good</h4>
				<h5>New York, NY</h5>
				<h5>Wordpress</h5>
				<p><br><br>Tech Maintence for The Common Good, a nonprofit dedicated to reasonable discourse and a free exchange of ideas</p>
				<p><br>Current Status: Live<br>
				User Load: 65</p></a>
			</div>
			<a target="_blank" href="http://unitedsomaliyouth.org" style="color:white"><div class="col-lg-3 col-md-5 col-sm-5 col-sm-offset-1 project">
				<h4>United Somali Youth</h4>
				<h5>Boston, MA</h5>
				<h5>Wordpress</h5>
				<p><br><br>A website for USY, a community center and refuge for Boston's inner city refugee and immigrant youth</p>
				<p><br>Current Status: Live<br>
				User Load: 65</p></a>
			</div>
			<a target="_blank" href="http://kennedybrotherspt.com" style="color:white"><div class="col-lg-3 col-md-5 col-sm-5 col-sm-offset-1 project">
				<h4>Kennedy Brothers Physical Therapy</h4>
				<h5>Boston, MA</h5>
				<h5>Ruby</h5>
				<p><br>A web app and online marketing campaign for KBPT, Boston's premiere Physical Therapy experts</p>
				<p><br><br>Current Status: Live<br>
				User Load: 65</p></a>
			</div>
		</div>
	</div>

	<div id="contact" class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		<h3 class="left">
			...and other places on the internet you can find me
		</h3>
		<div class="row">
			<div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1" id="phone">
					<i class="fa fa-5x fa-phone"></i>
					<p class="phone-display">781.686.0332</p>
			</div>
			<div class="col-md-2 col-sm-2">
				<a target="_blank" href="mailto:chippykennedy32@gmail.com" style="color:white">
					<i class="fa fa-5x fa-envelope"></i>
				</a>
			</div>
			<div class="col-md-2 col-sm-2">
				<a target="_blank" href="https://twitter.com/chippykennedy" style="color:white">
					<i class="fa fa-5x fa-twitter"></i>
				</a>
			</div>
			<div class="col-md-2 col-sm-2">
				<a target="_blank" href="https://github.com/chippy-kennedy" style="color:white">
					<i class="fa fa-5x fa-github"></i>
				</a>
			</div>
			<div class="col-md-2 col-sm-2">
				<a target="_blank" href="https://www.linkedin.com/in/chippy-kennedy-384ba558" style="color:white">
					<i class="fa fa-5x fa-linkedin"></i>
				</a>
			</div>
		</div>
	</div>
</div>
