
<div class="header row" id="header">
	<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1"> 
		<h1><span class="highlight">Hello,&nbsp;<br>My Name is Chip Kennedy&nbsp;</span></h1></span>
	</div>
</div>

<div id="mission1" class="mission row">
	<div class="mission-text col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1"> 
		<h2><strong>I'm a full stack software engineer and consultant</strong></h2>
	</div>
</div>

<div id="mission2" class="mission row">
	<div class="mission-text col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1"> 
		<h2><strong>And I partner with companies to solve challenges</strong></h2>
	</div>
</div>

<div id="mission3" class="mission row">
	<div class="mission-text col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1"> 
		<h2><strong>Using business-minded and human-centric technology</strong></h2>
	</div>
</div>

<div class="title row" id="services"> 
	<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">
		<h2 class="section-title">My Services</h2>
	</div>
</div>

<div class="services section row">
	<div class="col-md-11 offset-md-1 col-lg-11 offset-lg-1 col-sm-12">
		<div style="margin:80px 0px" class="row">
			<div style="margin-top:120px;"class="col-md-1 offset-md-1 col-sm-2 offset-sm-1 col-xs-3">
				<h2><span class="and">&</span></h2>
			</div>
			<div class="col-md-8 col-sm-9 col-xs-9">
				<h2><span class="first">Software Engineering</span>
					<h5 style="font-size:28px; ">Ruby<span class="dot">  &#8226; </span>Rails<span class="dot">  &#8226</span>Python<span class="dot">  &#8226; </span>Java<span class="dot">  &#8226; </span>Javascript<span class="dot">  &#8226; </span>iOS<span class="dot">  &#8226; </span>Sql<span class="dot">  &#8226; </span>MySql<span class="dot">  &#8226; </span>Postgres<span class="dot">  &#8226; </span>Linux</h5></br></br>
				<h2><span class="second">Technology Management</span></h2>
				<h5 style="font-size:28px; ">Agile Development<span class="dot">   &#8226;  </span>Product Design<span class="dot">  &#8226; </span>Full Stack Architecture<span class="dot">  &#8226; </span>Dev Ops<span class="dot">  &#8226; </span>Test Driven</h5>
			</div>
		</div>
	</div>
</div>

<div class="title row" id="portfolio"> 
	<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">
		<h2 class="section-title">My Clients</h2>
	</div>
</div>

<div class="portfolio section row">
	<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xs-12 col-sm-12"> 
				<img style="display: block;margin: auto;margin-top:20px;"	src="Referrio.png">
			</div>
			<div class="col-lg-6 col-md-12 col-xs-12 col-sm-12"> 
				<img style="display: block;margin: auto;margin-top:60px;"	src="USY.png" alt="United Somali Youth">
				<br><a href="usy"><h5 class="font-link" style="text-align:center;"></h5></a>
			</div>
			<div style="margin-top:50px;" class="col-md-12">
				<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="PLANIT.png">
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="TCG.png">
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="KBPT.png">
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="MAGIC.png">
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="title row" id="partners"> 
	<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">
		<h2 class="section-title">My Partners</h2>
	</div>
</div>

<div class="partners section row">
	<div style="text-align:center;margin:30px 0px;;padding:0% 5%;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<img src="ALX.png">
		<h2 style="font-size:32px;">ALX Creatives</h2>
		<p style="padding:0px 100px;">A creative digital agency focused on building brands through powerful imagery and social media strategy.</p>
	</div>
	<div style="text-align:center;margin:30px 0px;;padding:0% 5%;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<img src="elastiq.png">
		<h2 style="font-size:32px;">Elastiq Design</h2>
		<p style="padding:0px 100px;">A user experience design and web development studio, focused on creating efficient and elegant solutions.</p>
	</div>
	<div style="text-align:center;margin:30px 0px;;padding:0% 5%;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<img src="cassandra.png">
		<h2 style="font-size:32px;">Cassandra Gallagher</h2>
		<p style="padding:0px 100px;">Independent UX / UI design with a focus on user-centered interactions and user-based changes.</p>
	</div>
</div>


<div class="title row" id="contact"> 
	<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">
		<h2 class="section-title">Contact Me</h2>
	</div>
</div>


<div style="padding-top:60px;text-align:center" class="contact section row">
	<div class="col-lg-2 col-md-4 offset-md-2 col-sm-6" id="phone">
			<i class="fa fa-5x fa-phone"></i>
			<p class="phone-display">781.686.0332</p>
	</div>
	<div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
		<a target="_blank" href="mailto:chippykennedy32@gmail.com" style="color:white">
			<i class="fa fa-5x fa-envelope"></i>
		</a>
	</div>
	<div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
		<a target="_blank" href="https://twitter.com/chippykennedy" style="color:white">
			<i class="fa fa-5x fa-twitter"></i>
		</a>
	</div>
	<div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
		<a target="_blank" href="https://github.com/chippy-kennedy" style="color:white">
			<i class="fa fa-5x fa-github"></i>
		</a>
	</div>
	<div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
		<a target="_blank" href="https://www.linkedin.com/in/chippy-kennedy-384ba558" style="color:white">
			<i class="fa fa-5x fa-linkedin"></i>
		</a>
	</div>

</div>
