<!DOCTYPE HTML>
<html>
	<head>
		<!-- Styling -->
		<link href="/css/bootsrap.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		<style>
		</style>
	</head>
	<body>
		<div id="main-content">
			<%= yield %>	
		</div>
	</body>
</html>
