<!DOCTYPE HTML>
<html>
	<head>

		<link href="<%= stylesheet_path('application') %>" rel="stylesheet"></link>
		<script src="<%= javascript_path('application') %>"></script>
		<script type="text/javascript" src="jquery-3.1.1.slim.min.js"></script>

		<!-- Styles -->

		<title>Chip Kennedy</title>
	</head>
	<body>
		
		<div id="main-content">
			<%= yield %>	
		</div>
	</body>
</html>
