<div style="padding-top:50px;"class="section row">
	<div class ="col-md-10 offset-md-2">

		<div style="text-align:center"class="row">

			<div style="margin-bottom: 30px;" class="col-md-1 col-sm-12 col-xs-12">
				<a href="/#portfolio"><i class="fa fa-arrow-left fa-3x"></i></a>
			</div>

			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h2><strong>Case Study: Referrio</strong></h2>
			</div>

			<div class="col-md-3 col-lg-3">
			</div>

			<div style="margin-top:60px;" class="quote-picture col-lg-2 col-md-3 col-sm-12 col-xs-12">
				<img src="Shirley-Chen.png"></img>
				<h5>Joe Pavlisko</h5>
				<h5>Founder & CEO</h5>
			</div>

			<div style="margin-top:60px;" class="quote col-lg-7 col-md-7 col-sm-12 col-xs-12">
				<i class="fa fa-quote-left fa-2x"></i>
				<p>Chippy Kennedy is the most amazing fucking person. Really fucked my shit up big time. I would fuck the shit out of him if I got a chance to. Literally saved my ass and then fucked me in the ass. So a lot of ass stuff from this guy. But good ass stuff. The real whole point of this quote, is this guy fucks</p>
				<i class="fa fa-quote-right fa-2x"></i>
			</div>

			<div style="margin-top:80px;"class="case-study col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<p style="text-align:center;"><span class="strong">The Client</span></p>
				<center><img src="Referrio_1.png"></img></center>
				<br>
				<p>
				Referrio is a software platform dedicated to providing tools to students and teachers in the shared process of requesting, writing, and retaining letters of recommendation. As an early stage startup, their initial goals were to discover their user base and related target market, build a minimum viable product, and offer a platform that prioritizes functional design.
				</p>
			</div>

			<div style="margin-top:80px;"class="case-study col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<p style="text-align:center;"><span class="strong">The Challenge</span></p>
				<center><img src="Referrio_2.png"></img></center>
				<br>
				<p>
				Referrio wanted to give students an indispensable tool to save themselves and their teachers time while archiving the whole process for future success. At the very start, Referrio needed a lean and sustainable process to develop the initial idea, discover user needs, and build a usable product. From there, a goal was to create a user design and experience that was simple as possible. Along with design, there was a software goal of a website and platform that could be built quickly and reliably so that a future development team could continue iterations.
				</p>
			</div>

			<div style="margin-top:80px;"class="case-study col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<p style="text-align:center;"><span class="strong">The Contribution</span></p>
				<center><img src="Referrio_2.png"></img></center>
				<br>
				<p>
				Working on a team with the founder, students, and teachers, we started by defining a process for design and development in order to quickly validate ideas, gain feedback, and leave room for new ideas and insights. With first goal of creating a simplified and enjoyable user experience, we integrated Rails, Bootstrap, and Typeform.io. These frameworks complimented the second goal of creating a scalable and quick-to-validate platform, which became a RESTful application on Ruby, Heroku, and Amazon Web Services S3.

				We iterated on both the front-end design, and development of the product platform side-by-side. Both larger weekly product direction meetings and smaller daily technical discussions were structured to ask and answer the question “what value are we providing to our students? Our teachers?” Iterations of the application were sent out to controlled groups of students to infuse later parts of the development and design process with end-user feedback. Front end design, platform-wide technology, and operations plans and decisions were all made and changed as necessary to achieve the platform’s user-based goals.</p>	
				</p>
			</div>

			<div style="margin-top:80px;"class="case-study col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<p style="text-align:center;"><span class="strong">The Impact</span></p>
				<center><img src="Referrio_1.png"></img></center>
				<br>
				<p>
				Referrio discovered a cutting edge process for users to sign up for, define, and request letters of recommendation. Their platform’s technology is structured from the ground-up around the user’s experience and is ready for continuous development and feature integration as their team and user base grows. As a startup company talking to investors, marketing teams and others, they can stand behind an entire branded design, web platform, and proprietary code libraries.</p>
				</p>
			</div>


		</div>

	</div>
</div>
