/* imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "bootstrap";

/* global vars */
$header-font: 				'Montserrat', sans-serif;
$primary-green: 			#0D0AB3;
$secondary-green:			#413DDA;
$primary-background:	#f2f2f2;
$secondary-background: rgba(115, 115, 115, 0.9);

body {
	background-color: $secondary-background;
}

#main-content{
	background: url("../background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top:90px;
}

span.highlight {
	background-color: $secondary-background; 
	line-height: 1.9;
}


#header {
	margin-bottom:50px;
	height:400px;
}

.header-text{
	margin-top:2%;
}

.menu {
	height: 500px;
	background-color: $secondary-background; 
	position: absolute;
	z-index: 999;
	opacity: 0.95;
	border-radius:5px;
}

.menu li a{
	font-family: $header-font !important;
	font-size:	50px;
	color:white;
	text-align:center;
	margin-bottom:50px;
}

.fa{
	color: white;
}

.content {
	background-color:$primary-background; 
	color:white;
}

.subtitle{
	margin-top:50px;
}

.top{
	height:200px;
}

#contact{
	margin-bottom:50px;
}

.mission{
	display:flex;
}

.mission-text{
	margin-top:20px;
	margin-bottom:20px;
}

#mission1{
	background-color:$primary-green;
	color:white;
}
#mission2{
	background-color:$secondary-green;
	color:white;
}
#mission3{
	background-color:$primary-background; 
	color:$secondary-green;
}

.project{
	height: 380px;
	border-radius: 12px;
	border-style: solid;
	border-color:$primary-background;
	border-width:10px;
	margin: 10px 0px;
	text-align:center;
	font-family: $header-font !important;
	font-size:	22px;
	font-weight: 900;
	padding-top: 10px;
	background-color: $secondary-background; 
}
.project:hover{
	background-color:$secondary-green;
	color: white;
}

.fa{
	color: $secondary-background; 
}
.fa:hover{
	color: $primary-green;
}

.left{
	padding-left:50px;
}

h1{
	font-size: 75px;
	color: white;
	font-weight: bold;
	font-family: $header-font !important;
	line-height: 1.4;
}
h2{
	font-size: 45px;
	font-family: $header-font !important;
	font-weight:500;
}
h3{
	font-size: 40px;
	color: $primary-green; 
	font-family: $header-font !important;
	font-weight:500;
}
h4{
	font-size:24px;
	color:white;
	font-family: $header-font !important;
	font-weight:500;
	margin-bottom:0px;
}
h5{
	font-size:18px;
	color:white;
	font-family: $header-font !important;
	font-weight:900;
	margin-bottom:2px;
	margin-top:5px;
}
p{
	font-size:16px;
}

.phone-display{
	display:none;
	color:$primary-green;
	font-size:24px;
	font-weight:bold;
	margin:22px 0px 0px -30px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.row{
	margin: 0px 0px;
}
